body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     background-color: #0a0a0a;
     color: #f5f5f5;
     overflow-x: hidden; 
}

.header {
     display: flex;
     top: 0;
     width: 100%;
     height: 80px;
     padding: 5px;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
}

.logo-titulo-container {
     display: flex;
     align-items: center;
     gap: 15px;
}

.header img {
     height: 60px;
     margin-right: 25px;
}

.logo-libertadores {
     height: 60px;
     margin-left: 10px;
}

.header h1 {
     color: #C5A445; 
     margin: 0;
}

.logo-corinthians {
     width: 150px;
}

.usuario-icone {
     height: 100%;
     display: flex;
     align-items: center;
     border-left : 1px solid #C5A445;
}

.usuario-icone img {
     height: 80%;
     margin-left: 15px;
}

.bloco-poster {
}
.poster-background {
     width: 100%;
     height: 100%;
}

.poster-background img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
}

.main {
     display: flex;
     background-color: #0a0a0a;
}

.main h1 {
     color: #C5A445;
     position: relative;
     margin-top: 50px;
     margin-left: 50px;
}

.main p{
     margin: 30px 15px 10px;
     font-size: small;
     margin-top: 10px;
     color: #ddd;
}

.cronologia {
     position: relative;
     width: 100%;
     margin: 50px;
     display: flex;
     justify-content: center;
     align-items: flex-start;
}

.container {
     display: flex;
     gap: 270px;
     margin-top: 50px;
}

.card {
     background-color: #2a2a2a;
     width: 350px;
     height: 350px;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     box-shadow: 0 4px 8px #000;
}
.card p{
     font-size: 15px;
}
.card-ano {
     text-align: start;
     font-weight: 500;
     font-size: 20px;
     color: #C5A445;
}

.card-1960{    
     display: flex;
     justify-content: center;
     align-items: center;
}
.card-1970{
     display: flex;
     justify-content: center;
     align-items: center;
}
.card-1989 {
     display: flex;
     justify-content: center;
     align-items: center;
     
}
.card-1960 img{
     border-radius: 15px;
     margin-bottom: 18%;
     width: 70%;
     height: 170px;
     box-shadow: 8px 10px 40px #9E7F2E; 
}
.card-1970 img{
    border-radius: 15px;
     margin-bottom: 18%;
     width: 70%;
     height: 170px;
     box-shadow: 8px 10px 40px #9E7F2E; 
}
.card-1989 img {
     border-radius: 15px;
     margin-bottom: 20%;
     width: 70%;
     height: 170px;
     box-shadow: 8px 10px 40px #9E7F2E; 
}

.geral-marcos{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end; 
    gap: 20px;
    padding: 30px;
    margin-top:10%;
}
.final{
     width: 40%;
     height: 500px;
     margin-right: 260px;
     margin-bottom: 300px;
     border-radius: 18px;
     overflow: hidden;
     position: relative;
     box-shadow: 8px 10px 40px #C5A445;
     right: 5%;
     
}
.final img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.informacao-final{
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    z-index: 2;
    color: white;
    font-family: Arial;
}
.background-imagem{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 25%;
     z-index: 1;
     background-color: #121212;
}
.informacao-final h2{
     margin: 0;
     margin-top: 3%;
     font-size: 28px;
     font-weight: 700;
}
.informacao-final span{
    display: inline-block;
    background: #7a00f5;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 14px;
}
.informacao-final p {
     margin-top: 8px;
     font-size: 15px;
}
.conteudo{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 40px 20px;
     gap: 30px;
}
.Marcos {
     width: 18%;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin-right: 40px;
}

.Marcos-card{
     background-color: #1a1a1a;
     width: 80%;
     height: 280px;
     border-radius: 15px;
     color: #C5A445;
     display: flex;
     padding: 15px;
     flex-direction: column;
     justify-content: flex-start;
     box-shadow: 8px 2px 2px #C5A445; 
     margin: 30px 10px 10px;
}

.Marcos-titulo {
     border-bottom: 1px solid #C5A445; 
     font-weight: bold;
     margin-bottom: 10px;
     color: #C5A445;
}

.Marcos-informacao {
     margin-top: 5px;
     border-bottom: 1px solid #C5A445;
     width: 100%;
}

.Marcos-times {
     margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
}

.Marcos-card img {
     width: 90px;
     height: 60px;
     object-fit: contain;
     border-radius: 15px;
}

.Marcos-artilheiros{
    margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     gap: 5px;

}
.Marcos-assistentes {
     margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     gap: 5px;
}

.Marcos-artilheiros img{
     width: 65px;
     height: 65px;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #C5A445; 
}
.Marcos-assistentes img {
     width: 65px;
     height: 65px;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #C5A445; 
}

.Marcos-artilheiros p{
     margin-top: 8px;
     font-size: 20px;
     font-weight: bold;
     color: #C5A445;

}
.Marcos-assistentes p {
     margin-top: 8px;
     font-size: 20px;
     font-weight: bold;
     color: #C5A445;
}

.footer {
    background-color: #000;
    color: #C5A445; 
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}
