body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: black;
height: 80px;
width: 100% ;
padding: 5px 5px 5px;
}
.header img{
    height: 60px;
    margin-right: 25px;
}

.logo-ali {
    height: 60px;
    margin-right: 30px;
    margin-left: 10px;
}
