body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #0a0a0a;
    color: #f5f5f5;
    width: 100%;
}


.header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    z-index: 10;
}

.logo-titulo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header h1 {
    color: #C5A445;
}

.header img {
    height: 60px;
}

.logo-libertadores img {
    height: 60px;
    margin-right: 25px;
    margin-left: 10px;
}

.logo-corinthians img {
    height: 60px;
    width: auto;
}
.logo-flamengo img {
    height: 60px;
    width: auto;
}

.logo-galo img {
    height: 60px;
    width: auto;
}

.logos-times {
    display: flex;
    gap: 20px;
}

.botao-acessar {
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 1px solid white;
    gap: 15px;
    padding-left: 15px;
    margin-right: 10px;
}

.btn-acessar{
    padding: 10px 20px;
    border: 2px solid #C5A445;
    border-radius: 25px;
    background-color: transparent;
    color: #C5A445;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.bloco-video {
    position: relative;
    height: 800px;
    margin-top: 1px;
    overflow: hidden;
}
    
.video-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-background video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1;
    object-fit: cover;
    z-index: 1;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    width: 100%;
    padding: 20px;
}

.main h1 {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    color: #C5A445;
}

.main p {
    margin: 30px 15px 10px;
    margin-top: 10px;
    color: #ddd;
}


.cronologia {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.container {
    display: flex;
    margin-top: 50px;
    gap: 60px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px; 
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    text-align: center;
    background-color: #2a2a2a;
    box-shadow: 8px 10px 40px #C5A445;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card h3 {
    margin: 15px;
    color: #C5A445;
}

.card p {
    margin: 10px;
    font-size: 14px;
    color: #ddd;
}

.geral-marcos {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding: 30px;
    margin-top: 10%;
}

.final {
    width: 40%;
    height: 500px;
    margin-right: 260px;
    margin-bottom: 300px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 10px 40px #C5A445;
    right: 5%;
}

.final img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-imagem {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    z-index: 1;
    background-color: #121212;
}

.card-ano {
    text-align: start;
    font-size: 20px;
    color: #C5A445;
}

.card-1960 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1970 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1989 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1960 img {
    border-radius: 15px;
    margin-bottom: 18%;
    width: 70%;
    height: 170px;
    box-shadow: 8px 10px 40px #9E7F2E;
}

.card-1970 img {
    border-radius: 15px;
    margin-bottom: 18%;
    width: 70%;
    height: 170px;
    box-shadow: 8px 10px 40px #9E7F2E;
}

.card-1989 img {
    border-radius: 15px;
    margin-bottom: 20%;
    width: 70%;
    height: 170px;
    box-shadow: 8px 10px 40px #9E7F2E;
}

.geral-marcos {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    padding: 0;
}

.final {
    width: 50%;
    height: 500px;
    margin-right: 200px;
    margin-bottom: 300px;
    border-radius: 18px;
    position: relative;
    box-shadow: 8px 10px 40px #C5A445;
    right: 5%;
}

.final img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacao-final {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    z-index: 2;
    color: white;
}

.informacao-final h2 {
    margin: 3%;
    font-size: 28px;
}

.informacao-final span {
    padding: 6px 14px;
    border-radius: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    background: #7a00f5;
}

.informacao-final p {
    margin-top: 8px;
    font-size: 15px;
}

.Marcos {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    margin-right: 40px;
}

.Marcos-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 280px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 8px 10px 40px #C5A445;
    background-color: #1a1a1a;
    color: #C5A445;
}

.Marcos-titulo {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #C5A445;
    color: #C5A445;
    padding-bottom: 5px;
    text-align: center;
}

.Marcos-informacao {
    margin-top: 5px;
    border-bottom: 1px solid #C5A445;
    width: 100%;
}

.Marcos-times {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.Marcos-times img {
    width: 90px;
    height: 60px;
    border-radius: 15px;
}

.Marcos-artilheiros {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.Marcos-assistentes {
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.Marcos-artilheiros img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #C5A445;
}

.Marcos-assistentes img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #C5A445;
}

.Marcos-artilheiros p {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #C5A445;
}
.Marcos-assistentes p {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #C5A445;
}

.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #000;
    color: #C5A445;
    width: 100%;
}