body {
     margin: 0;
     padding: 0;
     height: 100%;
     box-sizing: border-box;
     background-color: #0a0a0a;
     color: #f5f5f5; 
}

.header {
     display: flex;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 80px;
     padding: 5px;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
     z-index: 10;
}

.logo-titulo-container {
     display: flex;
     align-items: center;
     gap: 15px;
}

.header img {
     height: 60px;
     margin-right: 25px;
}

.logo-libertadores {
     height: 60px;
     margin-left: 10px;
}

.header h1 {
     color: #C5A445; 
     margin: 0;
}

.logo-corinthians {
     width: 150px;
}

.usuario-icone {
     height: 100%;
     display: flex;
     align-items: center;
     border-left : 1px solid #C5A445;
}

.usuario-icone img {
     height: 80%;
     margin-left: 15px;
}

.bloco-video {
     width: 100%;
     height: 850px;
     position: relative;
     margin-top: 80px;
}

.video-background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.video-background video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
}

.main {
     background-color: #0a0a0a;
     margin-top: 0;
}

.main h1 {
     display: flex;
     justify-content: flex-start;
     padding-left: 50px;
     color: #C5A445; 
     text-align: center;
     margin-top: 50px 0;
}

.main p{
     margin: 30px 15px 10px;
     font-size: small;
     margin-top: 30px;
     color: #ddd;
}

.cronologia {
     position: relative;
     left: 100px;
     width: 85%;
     margin: 50px;
     display: flex;
     align-items: flex-start;
}

.cards-container {
     display: flex;
     gap: 270px;
}

.card {
     background-color: #2a2a2a;
     width: 250px;
     height: 250px;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     box-shadow: 0 4px 8px #000;
}

.card-ano {
     text-align: start;
     font-weight: 500;
     font-size: 20px;
     color: #C5A445;
}

.card-1960{    
     display: flex;
     justify-content: center;
     align-items: center;
}
.card-1970{
     display: flex;
     justify-content: center;
     align-items: center;
}
.card-1989 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.card-1960 img{
     border-radius: 15px;
     margin-bottom: 15px;
     box-shadow: 10px 5px 5px #9E7F2E; 
}
.card-1970 img{
    border-radius: 15px;
     margin-bottom: 15px;
     box-shadow: 10px 5px 5px #9E7F2E; 
}
.card-1989 img {
     border-radius: 15px;
     margin-bottom: 15px;
     box-shadow: 10px 5px 5px #9E7F2E; 
}

.card-1970 img{
     width: 70%;
}
.card-1989 img {
     width: 70%;
}

.Marcos {
     position: relative;
     margin-top: 290px;
     margin-left: 1125px;
     width: 300px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
}

.Marcos-card {
     background-color: #1a1a1a;
     width: 80%;
     height: 280px;
     border-radius: 15px;
     color: #fff;
     display: flex;
     padding: 15px;
     flex-direction: column;
     justify-content: flex-start;
     box-shadow: 8px 2px 2px #C5A445; 
     margin: 30px 10px 10px;
}

.Marcos-titulo {
     border-bottom: 1px solid #C5A445; 
     font-weight: bold;
     margin-bottom: 10px;
     color: #C5A445;
}

.Marcos-informacao {
     margin-top: 5px;
     border-bottom: 1px solid #C5A445;
     width: 100%;
}

.Marcos-times {
     margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
}

.Marcos-card img {
     width: 60px;
     height: 60px;
     object-fit: contain;
     border-radius: 15px;
}

.Marcos-artilheiros{
    margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     gap: 5px;

}
.Marcos-assistentes {
     margin-top: 45px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     gap: 5px;
}

.Marcos-artilheiros img{
     width: 65px;
     height: 65px;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #C5A445; 
}
.Marcos-assistentes img {
     width: 65px;
     height: 65px;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid #C5A445; 
}

.Marcos-artilheiros p{
     margin-top: 8px;
     font-size: 20px;
     font-weight: bold;
     color: #C5A445;

}
.Marcos-assistentes p {
     margin-top: 8px;
     font-size: 20px;
     font-weight: bold;
     color: #C5A445;
}

.footer {
    background-color: #000;
    color: #C5A445; 
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}
