body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
display: flex;
align-items: center;
background-color: black;
justify-content: space-between;
height: 80px;
width: 100% ;
padding: 5px 5px 5px;
}
.header img{
    height: 60px;
    margin-right: 25px;
}

.logo-ali {
    height: 60px;
    margin-right: 30px;
    margin-left: 10px;
}
.logo-corinthians{
    width: 150px;
}
.use-icon{
border-left: 1px solid white;
height: 100%;
}
.use-icon img{
    height: 100%;
    
}
